In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.Builder().appName("Practice3").getOrCreate()

In [ ]:
spark

In [ ]:
rdd1 = spark.sparkContext.textFile("/content/test1.csv", minPartitions=5)

In [ ]:
rdd1.getNumPartitions()

5

In [ ]:
nu_partition = rdd1.glom().collect()

In [ ]:
len(nu_partition)

5

In [ ]:
nu_partition[0]

['Name,age,Experience,Salary', 'Shivam,31,10,30000']

In [ ]:
nu_partition[1]

['Aashi,30,8,25000']

In [ ]:
rdd1

/content/test1.csv MapPartitionsRDD[5] at textFile at NativeMethodAccessorImpl.java:0

In [ ]:
rdd1.take(3)

['Name,age,Experience,Salary', 'Shivam,31,10,30000', 'Aashi,30,8,25000']

In [ ]:
rdd1.count()

7

In [ ]:
rdd2 = rdd1.map(lambda x: x.split(","))

In [ ]:
rdd2

PythonRDD[10] at RDD at PythonRDD.scala:53

In [ ]:
rdd2.take(5)

[['Name', 'age', 'Experience', 'Salary'],
 ['Shivam', '31', '10', '30000'],
 ['Aashi', '30', '8', '25000'],
 ['Monica', '29', '4', '20000'],
 ['Paul', '24', '3', '20000']]

In [ ]:
rdd2.map(lambda  x: (x[2], x[3])).take(5)

[('Experience', 'Salary'),
 ('10', '30000'),
 ('8', '25000'),
 ('4', '20000'),
 ('3', '20000')]