PySpark basics

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Practice1").getOrCreate()

In [ ]:
print(spark.version)

3.5.1

In [ ]:
df_pyspark=spark.read.csv('test1.csv')

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [ ]:
df_pyspark.show()

+-------+---+----------+------+
|    _c0|_c1|       _c2|   _c3|
+-------+---+----------+------+
|   Name|age|Experience|Salary|
| Shivam| 31|        10| 30000|
|  Aashi| 30|         8| 25000|
| Monica| 29|         4| 20000|
|   Paul| 24|         3| 20000|
|Karnika| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

Trying to make columns Name & Age as our main columns instead of _c0, _c1, ...

In [ ]:
df_pyspark = spark.read.option('header','true').csv('test1.csv') #first row value will now be considered as the header

In [ ]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Shivam| 31|        10| 30000|
|  Aashi| 30|         8| 25000|
| Monica| 29|         4| 20000|
|   Paul| 24|         3| 20000|
|Karnika| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
print(type(df_pyspark))

<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
df_pyspark.head(3)

[Row(Name='Shivam', age='31', Experience='10', Salary='30000'),
 Row(Name='Aashi', age='30', Experience='8', Salary='25000'),
 Row(Name='Monica', age='29', Experience='4', Salary='20000')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)