### Filter Operations:
- &, |, ~

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Using filter operation').getOrCreate()

In [2]:
df_pyspark = spark.read.csv("test3.csv", header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Radhika| 23|         8| 30000|
| Shivam| 24|        10| 50000|
|  Aashi| 18|         2| 15000|
| Mayank| 19|         4| 15000|
| Millie| 26|         6| 40000|
|    Tom| 30|        13| 65000|
+-------+---+----------+------+

#### a) Using 1 condition:

In [6]:
#Salary of people <= 20,000
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Aashi| 18|         2| 15000|
|Mayank| 19|         4| 15000|
+------+---+----------+------+

In [5]:
#can also be written as
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Aashi| 18|         2| 15000|
|Mayank| 19|         4| 15000|
+------+---+----------+------+

In [4]:
#picking only 2 columns using SELECT
#salary of people <= 20,000 with Name and Age

df_pyspark.filter("Salary<=20000").select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
| Aashi| 18|
|Mayank| 19|
+------+---+

#### b) Using 2 conditions:

#### AND &

In [8]:
#double brackets
#each condition has its own bracket, both conditions in another bracket

df_pyspark.filter((df_pyspark['Salary']<=30000) & 
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Radhika| 23|         8| 30000|
|  Aashi| 18|         2| 15000|
| Mayank| 19|         4| 15000|
+-------+---+----------+------+

#### OR |

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=30000) | 
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Radhika| 23|         8| 30000|
| Shivam| 24|        10| 50000|
|  Aashi| 18|         2| 15000|
| Mayank| 19|         4| 15000|
| Millie| 26|         6| 40000|
|    Tom| 30|        13| 65000|
+-------+---+----------+------+

#### NOT/INVERSE ~

In [10]:
#salary not <= 20000
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Radhika| 23|         8| 30000|
| Shivam| 24|        10| 50000|
| Millie| 26|         6| 40000|
|    Tom| 30|        13| 65000|
+-------+---+----------+------+